{% extends 'base.html' %}

{% block content %}

    <h1>Membership Details</h1>

    <div class="membership-card-container">
        <div class="membership-card-content">
            <h5>Membership Card</h5>
            <p>Name: {{ user.username }}</p>
            <p>Valid to use at {{ membership.get_location_display }} branch</p>
            <p>Starting from {{ membership.start_date }} until {{ membership.end_date }}</p>
        </div>
        
        <div class="card-action" id="membership-card-edit">
            <a href="{% url 'membership_update' user.id %}">Edit</a>
        </div>
    </div>


    {% for class in classes %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ class.name }}</span>
                <p>Location: {{ class.get_location_display }}</p>
                <p>Trainer: {{ class.trainer }}</p>
                <span>Every</span>
                {% for day in class.days %}
                    <span> {{ day }}, </span>
                {% endfor %}
                <span>at {{ class.time }} for {{ class.duration }}</span>
                <p>Starting from {{ class.start_date }} to {{ class.end_date }}</p>
                <p>Available seats: {{ class.seats }}</p>
            </div>
            <div class="card-action">
                <form action="{% url 'unassoc_class' user.id class.id %}" method="post">
                    {% csrf_token %}
                <button type="submit" class="btn">Remove</button>
                </form>
            </div>
        </div>
    {% endfor %}

{% endblock %}