{% extends 'base.html' %}

{% block content %}

    <h1>About</h1>

    <div class="about-container">
        <div class="about-content">
            <h5>Our History</h5>
            <p>Fitness Factory was established in 2022. Our main goal is to provide suitable atmosphere for the ones that are training at our gym. Along with several classes that suit each persons schedule and requirements.</p>
            <p>Our trainers are Salwa, Noorah and Alex who have been working with us since we were established. They will provide all required assisstance during the training sessions.</p>
            <p>Classes vary depending on the season, but they usually run for one month each. You can register to the classes of your choice by clicking on the Classes tab and registering.</p>
            <p>Don't forget to create your membership card first!</p>
        </div>
        <div class="about-content-space"></div>
        <div class="about-contacts">
            <h5>Contact us</h5>
            <p>Phone: +973 3445682122</p>
            <p>Email: fitness-factory@gmail.com</p>
            <p>Locations:</p>
            <p>Muharraq Branch</p>
            <p>Seef Branch</p>
        </div>
    </div>
    

{% endblock %}