{% extends 'base.html' %}

{% block content %}

    <div class="home-container">
        <div class="home-content">
           <h1>Fitness Factory</h1>
            <p class="intro">Hard work beats talent when talent doesn't work hard</p> 
        </div>
        <div class="home-img">
            <img src="../static/images/threadmill.png">
        </div>
    </div>
    <div class="home-container2">
        <div class="home-content2">
            <p>In Fitness Factory we provide a wide range of classes with top trainers to guid you through your training.</p>
            <p>Explore our classes and register for the ones that you like with your favourite trainer.</p>
            <h3>Trainers</h3>
        </div>
        <div class="trainer-pic">
            <img src="../static/images/salwa.PNG">
            <h5>Salwa</h5>
        </div>
        <div class="trainer-pic">
            <img src="../static/images/noora.PNG">
            <h5>Noorah</h5>
        </div>
        <div class="trainer-pic">
            <img src="../static/images/alex.PNG">
            <h5>Alex</h5>
        </div>
    </div>
    

{% endblock %}